  section {
    padding-top: 4rem;
    padding-bottom: 1rem;
  }

  /* Timeline */
  ul.timeline {
    list-style-type: none;
    position: relative;
  }

  ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
  }

  ul.timeline>li {
    margin: 20px 0;
    padding-left: 20px;
  }

  ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
  }

  h3 {
    text-align: center;
    padding-bottom: 50px;
  }

  .display-6 {
    padding-bottom: 2rem;

  }

  .table {
    font-size: 14px;
    width: 95%;
  }

  .table-space {
    padding-top: 25px;
  }

  .table-name {
    text-align: center;
    font-size: 16px;
  }

  #profile {
    border: 5px solid #555;
  }

/* mine */
  td:nth-child(1) {
    width: 1100px;
  }

  td[rowspan] {
    vertical-align: middle;
  }

  .card-footer {
    display: flex;
    justify-content: center;
  }
  .card-footer a {

    margin: 0 5px; /* 設定一些間距 */
  }

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");




#typing_div {
  
  background: white;
  position: relative;
  font-family: "Raleway", sans-serif;
  padding: 0px;
  color: black;
  font-size: 36px;
  font-weight: 400;
}

#typing {
  z-index: 1;
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.static-text {
  white-space: nowrap;
}

.dynamic-text {
  z-index: 1;
  position: relative;
  height: 50px;
  margin-left: 10px;
  white-space: nowrap;
  font-weight: bold;
  color: blue;
}
.dynamic-text:before {
  z-index: 1;
  content: "";
  position: absolute;
  border-left: solid 1px #edde5d;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: white;
  animation: typewriter 5s steps(16) infinite, blink 0.5s steps(16) infinite;
}

@keyframes typewriter {
  40%, 60% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}
@keyframes blink {
  from {
    border-left: solid 2px darkblue;
  }
  to {
    border-left: solid 2px transparent;
  }
}
.dynamic-text-wrapper {
  z-index: 1;
  position: relative;
  top: 0px;
  animation: moveup 15s steps(3) infinite;
}

@keyframes moveup {
  0% {
    top: 0;
  }
  100% {
    top: -150px;
  }
}

#top-image {
  position: relative;
  z-index: 2;
}